---
layout: default
title: Blog
---

<!-- This is not paginated yet. I can implement that when there are enough
    posts.
-->

<div class="posts">
  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y %B" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
      <li>
       <a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
       {{ post.date | date: "%B %d" }}<br>
	   {% if post.tags.size > 0 %}
	   {% assign ptags = post.tags | sort %}
	   {% for t in ptags %}
	   <span class="tag">{{ t }}</span>
	   {% endfor %}
	   {% endif %}
	   <br>
	   {{ post.content | strip_html | truncatewords:100}}<br>
       <a href="{{ post.url }}">Read more...</a><br><br>
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
