---
layout: default
title:  'Home'
---

{% include column_layout_start.html %}

  <div class="row" id="" style="">

    <div id="me" class="banner" style="display:inline-block;">
      <img class="img-me pull-left" src="{{ site.baseurl }}{{ site.me-img }}" alt="" style="border: 0px solid #fff;">
    </div>
    <div id="personal" class="banner" style="display:inline-block;">
      <h1>Nick Foti</h1>
      <p class="lead">
      <!--
      {% for dep in site.departments %}
      {{ dep }}<br>
      {% endfor %}
      {{ site.institution }}<br>
      -->
      {% include social_buttons.html %}
      </p>
    </div>
    <hr>
  </div>

  <div class="row" id="" style="">

  {% for pg in site.pages %}
    {% if pg.title == 'about' %}
    <div class="intro">
      {{ pg.content }}
    </div>
    {% endif %}
  {% endfor %}

  </div>

{% include column_layout_end.html %}
